html, body{
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    letter-spacing: 1px;
    font-family: "Anton", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #F999B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#FFFCDC;
    font-size: 17px;
}
section{
    width: 100%;
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(2n){
    background-color: #FFFCDC;
    color: #F999B7;
}
.content, #header{
    width: 80%;
}

h1{
    font-size: 3em;
}
h2{
    text-decoration: underline;
}
h3{
    letter-spacing: 1.5px;
}
footer > h2{
    text-decoration: none;
}
.content{
    position: relative;
    opacity: 0;
    transform: translateX(150px);
    transition: all 1.75s ease;
}

.content.active{
    opacity:1;
    transform: translateX(0px);
}


@media(max-width:1000px){
    body{
        font-size: 16px;
    }
}

@media(max-width:850px){
    body{
        font-size: 15px;
    }
}

@media(max-width:700px){
    body{
        font-size: 13px;
    }
}

@media(max-width:400px){
    body{
        font-size: 10px;
    }
}
@media (max-height: 650px){
    section{
        min-height: 170vh;
    }
}

@media (max-height: 400px){
    section{
        min-height: 220vh;
    }
}