html, body{
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    letter-spacing: 1px;
    font-family: "Anton", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #F999B7;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#FFFCDC;
}
section{
    width: 100%;
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section:nth-of-type(2n){
    background-color: #FFFCDC;
    color: #F999B7;
}
.content, #header{
    width: 80%;
}

h1{
    font-size: 3em;
}

h3{
    letter-spacing: 1.5px;
}

.content{
    position: relative;
    opacity: 0;
    transform: translateX(150px);
    transition: all 1.75s ease;
}

.content.active{
    opacity:1;
    transform: translateX(0px);
}
.nav_bar{
    min-height: 17vh;
    flex-direction: column;
}

#nav_h2{
    font-size: 25px;
}
.nav_ul{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}
a{
    width: 50%;
    padding:5px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
#pink_nav > li > a{
    color: #FFFCDC;
    border: solid #FFFCDC;
}
#white_nav > li > a{
    color: #F999B7;
    border: solid #F999B7;
}
a:hover{
    border-color: black !important;
    cursor:pointer;
}
a:active{
    color: black !important;
}
@media(max-width:1000px){
    body{
        font-size: 16px;
    }
}

@media(max-width:850px){
    body{
        font-size: 15px;
    }
}

@media(max-width:700px){
    body{
        font-size: 13px;
    }
    .nav_ul{
        width: 100%
    }
}

@media(max-width:400px){
    body{
        font-size: 10px;
    }
}
@media (max-height: 650px){
    section{
        min-height: 170vh;
    }
}

@media (max-height: 400px){
    section{
        min-height: 220vh;
    }
}