html, body{
    margin:0;
    padding:0;
    height:100%;
    width: 100%;
    letter-spacing: 1px;
    font-family: "Anton", sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #FFFCDC;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#F999B7;
    overflow: scroll;
}
section{
    width: 100%;
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img_sect{
    min-height: 130vh;
}
section:nth-of-type(2n){
    background-color: #F999B7;
    color: #FFFCDC;
    border-color: #FFFCDC;
}
.content, #header{
    width: 80%;
}

h1{
    font-size: 3em;
}
h3{
    font-weight: normal;
}

ul{
    display: flex;
    justify-content: space-between;
    height: 80%;
}
.out_cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 60%;
}

.in_cont{
    width: 30%;
    border: solid 8px;
    border-radius: 10px;
    margin: 20px;
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity : 0;
    position: relative;
    transform: translateY(150px);
    transition: all 1.75s ease;
}

.in_cont.active{
    opacity: 1;
    transform: translateX(0px);
}
#last_div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width:60%;
}

#last_div > h2{
    font-size: 30px;
}
@media (max-width: 1300px){
    .out_cont{
        width: 80%;
    }
}
@media (max-width: 955px){
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 15px;
    }
    img{
        max-width: 100%;
    }
    section{
        min-height: 220vh;
    }
    section #header{
        min-height: 98vh;
    }
    .in_cont{
        width: 80%;
    }
    .out_cont{
        flex-direction: column;
        width: 60%;
    }
    #last_sect{
        min-height: 140vh;
    }
}
@media (max-height: 650px){
    section{
        min-height: 220vh;
    }
}